@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.encabezado {
  height: 100px;
}

/* Tablero */
.tablero {
  display: grid;
  grid-template-areas:
    "dealer dealer"
    "jugada jugada"
    "info acciones";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 1.5em;
  width: 100%;
  height: calc(100vh - 100px);
  background-color: #4b6349; /* Tu verde original */
  padding: 1.5em;
}

/* Dealer */
.dealer {
  grid-area: dealer;
  text-align: center;
  font-size: 1.4em;
  color: white;
  padding: 0.8em;
  border-radius: 0.8em;
  border: 2px dashed rgba(255, 255, 255, 0.4);
}
.mazo {
  display: flex;
  margin-left: 0;
}
.cartas-d {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-top: 0.5em;
}

/* Mano */
.jugada {
  grid-area: jugada;
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;
}

.total {
  position: absolute;
  top: 5em;
  font-size: 1.3em;
  color: #fff;
  font-weight: 600;
}

.carta img{
  width: auto;
  height: auto;
  margin: 0 0.8em;
}

/* Info jugador */
.info-jugador {
  grid-area: info;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  border: 2px dashed rgba(255,255,255,0.3);
  border-radius: 10px;
  padding: 1em;
  color: #fff;
  font-size: 1.1em;
}

.cont-apuesta {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

/* Fichas */
.cont-ficha {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.6em;
}

.ficha1, .ficha2, .ficha3, .ficha4, .ficha5 {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  border: none;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  color: #fff;
  transition: transform 0.2s ease;
}

.ficha1 { background-color: #c0392b; } 
.ficha2 { background-color: #2980b9; } 
.ficha3 { background-color: #27ae60; } 
.ficha4 { background-color: #f39c12; } 
.ficha5 { background-color: #8e44ad; } 

.ficha:hover {
  transform: scale(1.1);
}

/*Menu de acciones*/
.acciones {
  grid-area: acciones;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px dashed rgba(255,255,255,0.3);
  border-radius: 10px;
  padding: 0.8em;
}

.acciones button {
  font-size: 1em;
  padding: 0.6em 1.2em;
  border: none;
  border-radius: 0.5em;
  color: #fff;
  cursor: pointer;
  transition: transform 0.1s ease
}

.acciones button:hover {
  transform: scale(1.05);
}

footer{
  background-color: #121212;
  height: 200px;
}