@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

.encabezado{
  text-align: center;
  background-color: #006400;
  display: none;
}

.tablero {
  background-color: #006400;
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 1.2em;
  padding: 1rem;
  color: whitesmoke;
}

.dealer, .jugada {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px dashed rgba(182, 173, 173, 0.3);
  border-radius: 8ppx;
  padding: 1em;

}
.dealer .mazo img{
  width: 60px;
  height: auto;
  border-radius: 6px;
}

.cartas-d, .cartas-jugador {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.carta img {
  width: 60px; 
  height: auto;
  border-radius: 6px;
}

.cont-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.acciones {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.cont-ficha {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.ficha1,.ficha2,.ficha3,.ficha4,.ficha5 {
  font-size: 14px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  color: whitesmoke;
  font-weight: bold;
  cursor: pointer;
}
.ficha1 { background-color: #c0392b; }
.ficha2 { background-color: #2980b9; }
.ficha3 { background-color: #27ae60; }
.ficha4 { background-color: #f39c12; }
.ficha5 { background-color: #8e44ad; }

footer{
  background-color: #121212;
  color: whitesmoke;
  display: none;
}