@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

.encabezado {
  height: 100px;
  background-color: whitesmoke;
}

.tablero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: calc(100vh - 100px);
  background-color: #4b6349;
  padding: 1.5em;
  gap: 2.5em;
}

.dealer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: whitesmoke;
  font-size: 1.2em;
  padding: 1em;
  border-radius: 8px;
  border: 2px dashed rgba(182, 173, 173, 0.3);
}

.cartas-d {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-top: 8px;
}

.mazo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.jugada {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: whitesmoke;
  font-size: 1.2em;
  padding: 1em;
  border-radius: 8px;
  border: 2px dashed rgba(182, 173, 173, 0.3);
}

.total {
  margin-bottom: 10px;
  font-size: 1.1rem;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.cartas-jugador {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;  
  gap: 1em;
  width: 100%;
}

.carta {

  display: inline-flex;
}

.carta img {
  height: 200px;
  width: auto;
  display: block;
}

.cartas-d img {
  max-height: 200px;
  width: auto;
  object-fit: contain;
  display: block;
}

.cont-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1em;
  color: whitesmoke;
}

.acciones {
  max-width: max-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  flex: 1;
  flex-wrap: nowrap;
  border: 2px dashed rgba(255,255,255,0.2);
  border-radius: 8px;
  padding: 1em;
}

.acciones a {
  text-decoration: none;
}

.acciones button {
  font-size: 1em;
  padding: 1em;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.info-jugador {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
  flex: 0 0 auto;
  text-align: right;
  font-size: 1em;
  border: 2px dashed rgba(255,255,255,0.2);
  border-radius: 8px;
  padding: 1em;
}

.cont-apuesta {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.cont-ficha {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-end;
}

.ficha1, .ficha2, .ficha3, .ficha4, .ficha5 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  color: whitesmoke;
  font-weight: bold;
  cursor: pointer;
}

.ficha1 { background-color: #c0392b; }
.ficha2 { background-color: #2980b9; }
.ficha3 { background-color: #27ae60; }
.ficha4 { background-color: #f39c12; }
.ficha5 { background-color: #8e44ad; }

footer {
  background-color: #121212;
  height: 200px;
}
