@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}
/*Estilos overlay */
.overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgb(41, 41, 41), rgb(11, 11, 11));
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.pop-up {
    background: #151515;
    width: 400px;
    padding: 1.5em;
    border-radius: 15px;
    border: 2px solid #d4af37; 
    box-shadow: 0 0 25px #93771a;
    text-align: center;
    font-family: "Playfair Display", serif;
    height: 100vh;
}

.pop-up h2 {
    color: #d4af37;
}

.info-over {
    color: #777;
    margin-bottom: 1em;
    font-size: 1em;
}

.resaltado {
    color: #d4af37;
    font-weight: bold;
}

.pop-up input {
    width: 90%;
    padding: 0.8em;
    margin-bottom: 1em;
    border-radius: 8px;
    border: 1px solid #777;
    background: #121212;
    color: white;
    font-size: 1em;
    transition: 0.5s ease;
}

.pop-up input:focus {
    border-color: #d4af37;
    box-shadow: 0 0 8px #93771a;
}

.btn-ingresar {
    width: 100%;
    padding: 0.8em;
    background-color: #d4af37;
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2em;
    transition: 0.5s ease;
    margin-bottom: 0.5em;
}

.btn-ingresar:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #93771a;
}

.btn-menor {
    width: 100%;
    padding: 0.8em;
    background: #600000;
    color: #ffbcbc;
    border: 1px solid #993333;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    transition: 0.5s ease;
}

.btn-menor:hover {
    background: #8e0000;
    transform: scale(1.05);
}

.legal {
    font-size: 0.8em;
    color: #777;
    margin-top: 10px;
}
/*Fin estilos overlay*/

.info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  width: 100%;
}

.btn-info{
  border: none;
  background: none;
  cursor: pointer;
}

.cont-apuesta{
  display: flex;
  gap: 0.5em;
  justify-content: flex-start;
  align-items: center;

}

.info img{
  width: 30px;
}

.tablero {
  background-color: #006400;
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 1.2em;
  padding: 1rem;
  color: whitesmoke;
  height: 100vh;
}

.dealer, .jugada {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px dashed rgba(182, 173, 173, 0.3);
  border-radius: 8ppx;
  padding: 1em;

}
.dealer .mazo img{
  width: 60px;
  height: auto;
  border-radius: 6px;
}

.cartas-d, .cartas-jugador {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.carta img {
  width: 60px; 
  height: auto;
  border-radius: 6px;
}

.cont-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.acciones {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.cont-ficha {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em;
}

.ficha1,.ficha2,.ficha3,.ficha4,.ficha5 {
  font-size: 14px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  color: whitesmoke;
  font-weight: bold;
  cursor: pointer;
}
.ficha1 { background-color: #c0392b; }
.ficha2 { background-color: #2980b9; }
.ficha3 { background-color: #27ae60; }
.ficha4 { background-color: #f39c12; }
.ficha5 { background-color: #8e44ad; }

footer{
  background-color: #121212;
  color: whitesmoke;
  display: none;
}