<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PythonProyect</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>
<body>
    <header class="encabezado"></header>
    <div class="tablero">
        <div class="dealer">
            <span>{{puntaje_dealer}}</span>
            <div class="cartas-d">
                <div class="mazo"><img src="{{ url_for('static', filename='imagenes/back_dark.png') }}" alt="mazo"></div>
                {% for imagen in mano_imagen_d %}
                    <div class="carta"><img src="{{ url_for('static', filename=imagen) }}" alt="carta"></div>
                {% endfor %}
            </div>
        </div>
        <div class="jugada">
            <span class="total">{{puntaje_jugador}}</span>
            {% for imagen in mano_imagen %}
                <div class="carta"><img src="{{ url_for('static', filename=imagen) }}" alt="carta"></div>
            {% endfor %}
        </div>

        <div class="acciones">
            <button class="btn bg-info">Pedir</button>
            <button class="btn bg-secondary">Plantarse</button>
            <button class="btn bg-danger ">All In</button>
            <button class="btn bg-warning">Doblar</button>
        </div>

        <div class="info-jugador">
            <div class="cont-apuesta">
            <p class="saldo">Saldo: ${{saldo}}</p>
            <p class="apuesta">Apuesta: ${{apuesta}}</p>
            </div>
            {% if not apuesta_actual %}
            <div class="cont-ficha">
            <a href="/partida/5"><button class="ficha1">5</button></a>
            <a href="/partida/10"><button class="ficha2">10</button></a>
            <a href="/partida/25"><button class="ficha3">25</button></a>
            <a href="/partida/50"><button class="ficha4">50</button></a>
            <a href="/partida/100"><button class="ficha5">100</button></a>
            </div>
            {% endif %}
        </div>
    </div>
<footer>d</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>