<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PythonProyect</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>
<body>
    <header class="encabezado"></header>
    <div class="tablero">
        <div class="dealer">
        {% if resultado %}
        <div class="resultado">
            {% if resultado == "gana" %}
                <p class="gana">¡Ganaste la mano!</p>
            {% elif resultado == "pierde" %}
                <p class="pierde">Perdiste la mano</p>
            {% elif resultado == "empate" %}
                <p class="empate">Empate</p>
            {% elif resultado == "blackjack" %}
                <p class="gana">¡Ganaste con un Black jack!</p>
            {% endif %}
        </div>
        {% endif %}

            <span>{{puntaje_dealer}}</span>
            <div class="cartas-d">
                <div class="mazo"><img src="{{ url_for('static', filename='imagenes/back_dark.png') }}" alt="mazo"></div>
                {% for imagen in mano_imagen_d %}
                    <div class="carta"><img src="{{ url_for('static', filename=imagen) }}" alt="carta"></div>
                {% endfor %}
            </div>
        </div>
        <div class="jugada">
            <span class="total">{{puntaje_jugador}}</span>
            {% for imagen in mano_imagen %}
                <div class="carta"><img src="{{ url_for('static', filename=imagen) }}" alt="carta"></div>
            {% endfor %}
        </div>

        <div class="acciones">
            <a href="/pedir"><button class="btn bg-info" id="btnPedir">Pedir</button></a>
            <a href="/plantarse"><button class="btn bg-secondary" id="btnPlantarse">Plantarse</button></a>
           <a href="/all"><button class="btn bg-danger" id="btnAll">All In</button></a>
            <a href="/doblar"><button class="btn bg-warning" id="btnDoblar">Doblar</button></a>    
        </div>

        <div class="info-jugador">
            <div class="cont-apuesta">
            <p class="saldo">Saldo: ${{saldo}}</p>
            <p class="apuesta">Apuesta: ${{apuesta}}</p>
            </div>
            {% if not apuesta_actual %}
            <div class="cont-ficha">
            <a href="/partida/5"><button class="ficha1" id="btn5">5</button></a>
            <a href="/partida/10"><button class="ficha2" id="btn10">10</button></a>
            <a href="/partida/25"><button class="ficha3" id="btn25">25</button></a>
            <a href="/partida/50"><button class="ficha4" id="btn50">50</button></a>
            <a href="/partida/100"><button class="ficha5" id="btn100">100</button></a>
            </div>
            {% endif %}
        </div>
    </div>
<footer>d</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>